<template name="about">
	<div class="about">
		<div class="row"><h2>Our Team</h2></div>
		<div class="row">
			<div class="fourcol"><img src="/images/student.jpg" alt="student"/></div>
			<div class="eightcol last">
				<h3>Team Member #1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
		</div>
		<div class="row">
			<div class="eightcol">
				<h3>Team Member #2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="fourcol last"><img src="/images/student.jpg" alt="student"/></div>
		</div>
		<div class="row">
			<div class="fourcol"><img src="/images/student.jpg" alt="student"/></div>
			<div class="eightcol last">
				<h3>Team Member #3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
		</div>
		<div class="row">
			<div class="eightcol">
				<h3>Team Member #4</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="fourcol last"><img src="/images/student.jpg" alt="student"/></div>
		</div>
		<div class="row">
			<div class="fourcol"><img src="/images/student.jpg" alt="student"/></div>
			<div class="eightcol last">
				<h3>Team Member #5</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
		</div>
		<div class="row">
			<div class="eightcol">
				<h3>Team Member #6</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="fourcol last"><img src="/images/student.jpg" alt="student"/></div>
		</div>
	</div>
</template>