<template name="home">
	<div class="row intro">
		<h1>Welcome!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, officia, delectus, expedita dolore reprehenderit necessitatibus facilis sequi eius accusantium porro obcaecati quo ipsam ab vero impedit illum molestias! Quae, inventore.</p>
	</div>
	<div class="row home">
		<div class="fourcol intro-desc">
			<h2>Students</h2>
			<img src="/images/student.jpg" alt="Student"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quas, ut repudiandae suscipit animi necessitatibus consequuntur minima perferendis ex nobis? Corporis, perferendis laborum veniam quibusdam beatae aut minus quisquam impedit!</p>
		</div>
		<div class="fourcol intro-desc">
			<h2>Companies</h2>
			<img src="/images/company.jpg" alt="Company"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ut, nulla autem voluptatem eveniet obcaecati sapiente unde excepturi molestiae totam itaque commodi omnis magni vitae vel incidunt accusantium amet ullam.</p>
		</div>
		<div class="fourcol last intro-desc">
			<h2>Schools</h2>
			<img src="/images/school.jpg" alt="School"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem!</p>
		</div>
	</div>
	<div class="row join-row">
		<div class="fourcol">
			<a href="{{pathFor 'register'}}"><button class="join-now">Get me that job!</button></a>
		</div>
		<div class="fourcol">
			<a href="{{pathFor 'register'}}"><button class="join-now">Sign me up baby!</button></a>
		</div>
		<div class="fourcol last">
			<a href="{{pathFor 'register'}}"><button class="join-now">Sounds good! Let's do this!</button></a>
		</div>
	</div>
</template>