<template name="register">
 	<div class="row register" align="center">
		<h2>Sign Up</h2>

		<div class="threecol">
			<button class="student-button join-now">Student</button></a>
		</div>
		<div class="threecol">
			<button class="school-button join-now">School</button></a>
		</div>
		<div class="threecol">
			<button class="employer-button join-now">Employer</button></a>
		</div>
		<div class="threecol last">
			<button class="company-button join-now">Company</button></a>
		</div>
	</div>

	{{#if isStudent}}
		{{> studentSignup}}
	{{/if}}
	{{#if isSchool}}
		{{> schoolSignup}}
	{{/if}}
	{{#if isEmployer}}
		{{> employerSignup}}
	{{/if}}
	{{#if isCompany}}
		{{> companySignup}}
	{{/if}}
</template>

<template name="studentSignup">
	<h4>Create a new Student Account</h4>
	<div class="sixcol">
		<div class="twelvecol">
			<div class="sixcol">
				<img src="/images/student.jpg" alt="jobs">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 1:</strong> Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 2:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
			<div class="sixcol">
				<img src="/images/student.jpg" alt="companies">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 3:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 4:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
		
		</div>
	</div>

	<div class="sixcol last"> 
		<form>
			<label for="fname">First Name</label>
			<br>
			<input type="text" name="fname" id="fname" />
			<br>
			<label for="lname">Last Name</label>
			<br>
			<input type="text" name="lname" id="lname" />
			<br>
			<label for="email">Email</label>
			<br>
			<input type="email" name="email" id="email" />
			<br>
			<label for="school">School</label>
			<br>
			<input type="text" name="school" id="school" />
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" id="password" />
			<br>
			<label for="confirm">Confirm Password</label>
			<br>
			<input type="password" name="confirm" id="confirm" />
			<br>
			<div class="fourcol">
				<input type="submit" value="Let's do this!" id="register" class="join-now"/>
			</div>
		</form>
	</div>
</template>

<template name="schoolSignup">
	<h4>Create a new School Account</h4>
	<div class="sixcol">
		<div class="twelvecol">
		<div class="sixcol">
				<img src="/images/school.jpg" alt="jobs">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 1:</strong> Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 2:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
			<div class="sixcol">
				<img src="/images/school.jpg" alt="companies">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 3:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 4:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
		
		</div>
	</div>
	<div class="sixcol last"> 
		<form>
			<label for="fname">First Name</label>
			<br>
			<input type="text" name="fname" id="fname" />
			<br>
			<label for="lname">Last Name</label>
			<br>
			<input type="text" name="lname" id="lname" />
			<br>
			<label for="email">Email</label>
			<br>
			<input type="email" name="email" id="email" />
			<br>
			<label for="company">School</label>
			<br>
			<input type="text" name="company" id="company" />
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" id="password" />
			<br>
			<label for="confirm">Confirm Password</label>
			<br>
			<input type="password" name="confirm" id="confirm" />
			<br>
			<div class="fourcol">
				<input type="submit" value="Let's do this!" id="register" class="join-now"/>
			</div>
		</form>
	</div>
</template>


<template name="employerSignup">
	<h4>Create a new Employer Account</h4>
	<div class="sixcol">
		<div class="twelvecol">
		<div class="sixcol">
				<img src="/images/company.jpg" alt="jobs">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 1:</strong> Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 2:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
			<div class="sixcol">
				<img src="/images/company.jpg" alt="companies">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 3:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 4:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
		
		</div>
	</div>
	<div class="sixcol last"> 
		<form>
			<label for="fname">First Name</label>
			<br>
			<input type="text" name="fname" id="fname" />
			<br>
			<label for="lname">Last Name</label>
			<br>
			<input type="text" name="lname" id="lname" />
			<br>
			<label for="email">Email</label>
			<br>
			<input type="email" name="email" id="email" />
			<br>
			<label for="company">Company</label>
			<br>
			<input type="text" name="company" id="company" />
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" id="password" />
			<br>
			<label for="confirm">Confirm Password</label>
			<br>
			<input type="password" name="confirm" id="confirm" />
			<br>
			<div class="fourcol">
				<input type="submit" value="Let's do this!" id="register" class="join-now"/>
			</div>
		</form>
	</div>
</template>

<template name="companySignup">
	<h4>Create a new Company Account</h4>
	<div class="sixcol">
		<div class="twelvecol">
		<div class="sixcol">
				<img src="/images/company.jpg" alt="jobs">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 1:</strong> Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 2:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
			<div class="sixcol">
				<img src="/images/company.jpg" alt="companies">
			</div>
			<div class="sixcol last">
				<p><strong>BENEFIT 3:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
				<p><strong>BENEFIT 4:</strong>Lorem ipsum dolor sit amet, consec adipisic elit.</p>
			</div>
		
		</div>
	</div>
	<div class="sixcol last"> 
		<form>
			<label for="fname">First Name</label>
			<br>
			<input type="text" name="fname" id="fname" />
			<br>
			<label for="lname">Last Name</label>
			<br>
			<input type="text" name="lname" id="lname" />
			<br>
			<label for="email">Email</label>
			<br>
			<input type="email" name="email" id="email" />
			<br>
			<label for="company">Company</label>
			<br>
			<input type="text" name="company" id="company" />
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" id="password" />
			<br>
			<label for="confirm">Confirm Password</label>
			<br>
			<input type="password" name="confirm" id="confirm" />
			<br>
			<div class="fourcol">
				<input type="submit" value="Let's do this!" id="register" class="join-now"/>
			</div>
		</form>
	</div>
</template>





		<!--  Tim's code
		<h1>Sign Up</h1>
		<button class="student-button">Student</button>
		<button class="employer-button">Employer</button>
	</div>
	{{#if isStudent}}
		{{> studentSignup}}
	{{/if}}
	{{#if isEmployer}}
			{{> employerSignup}}
	{{/if}}
</template>

<template name="studentSignup">
	<h3>Student</h3>
	<form>
		<label for="fname">First Name</label>
		<input type="text" name="fname" id="fname" />

		<label for="lname">Last Name</label>
		<input type="text" name="lname" id="lname" />

		<label for="email">Email</label>
		<input type="email" name="email" id="email" />

		<label for="password">Password</label>
		<input type="password" name="password" id="password" />

		<label for="confirm">Confirm Password</label>
		<input type="password" name="confirm" id="confirm" />

		<input type="submit" value="Register" id="register" />
	</form>
</template>

<template name="employerSignup">
	<h3>Employer</h3>
</template>
-->