<template name="registerspecial">
	<div class="row register" align="center">
		<h2>Sign Up</h2>

	</div>
	<div class="row" align="center">
		<div class="twocol">
			<button class="student-button join-now">Student</button>
		</div>
		<div class="twocol last">
			<button class="employer-button join-now">Employer</button>
		</div>
	</div>
	{{#if isStudent}}
		{{> studentSignup}}
	{{/if}}
	{{#if isEmployer}}
			{{> employerSignup}}
	{{/if}}
</template>

<template name="studentSignup">
	<h4>Create a new Student Account</h4>
	<div class="sixcol">
		<div class="twelvecol">
			<div class="sixcol">
				<img src="/images/school.jpg" alt="jobs">
			</div>
			<div class="sixcol last">
				<h5>Jobs</h5>
				<p>find jobs and more text can fill this space up... more text copymore text copymore text copymore text copy </p>
				<h5>Companies</h5>
				<p>search for companies and more text can fill this space up... </p>
			</div>
			<div class="sixcol">
				<img src="/images/school.jpg" alt="school">
			</div>
			<div class="sixcol last">
				<h5>Schools</h5>
				<p>join your school and more text can fill this space up... </p>
				
				<h5>Profile</h5>
				<p>build a profile! and more text can fill this space up... </p>
			</div>
		
		</div>
	</div>

	<div class="sixcol last"> 
		<form>
			<label for="fname">First Name</label>
			<br>
			<input type="text" name="fname" id="fname" />
			<br>
			<label for="lname">Last Name</label>
			<br>
			<input type="text" name="lname" id="lname" />
			<br>
			<label for="email">Email</label>
			<br>
			<input type="email" name="email" id="email" />
			<br>
			<label for="school">School</label>
			<br>
			<input type="text" name="school" id="school" />
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" id="password" />
			<br>
			<label for="confirm">Confirm Password</label>
			<br>
			<input type="password" name="confirm" id="confirm" />
			<br>
			<div class="fourcol">
				<input type="submit" value="Let's do this!" id="register" class="join-now"/>
			</div>

		</form>
	</div>
</template>

<template name="employerSignup">
	<h4>Create a new Employer Account</h4>
	<div class="sixcol">
		<div class="twelvecol">
			<div class="sixcol">
				<img src="/images/company.jpg" alt="jobs">
			</div>
			<div class="sixcol last">
				<h5>Jobs</h5>
				<p>words</p>
				<h5>Profile</h5>
				<p>build a profile! and more text can fill this space up... </p>
			</div>
			<div class="sixcol">
				<img src="/images/company.jpg" alt="companies">
			</div>
			<div class="sixcol last">
				<h5>Students</h5>
				<p>words</p>
				<h5>Schools</h5>
				<p>join your school and more text can fill this space up... </p>
			</div>
		
		</div>
	</div>
	<div class="sixcol last"> 
		<form>
			<label for="fname">First Name</label>
			<br>
			<input type="text" name="fname" id="fname" />
			<br>
			<label for="lname">Last Name</label>
			<br>
			<input type="text" name="lname" id="lname" />
			<br>
			<label for="email">Email</label>
			<br>
			<input type="email" name="email" id="email" />
			<br>
			<label for="company">Company</label>
			<br>
			<input type="text" name="company" id="company" />
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" name="password" id="password" />
			<br>
			<label for="confirm">Confirm Password</label>
			<br>
			<input type="password" name="confirm" id="confirm" />
			<br>
			<div class="fourcol">
				<input type="submit" value="Let's do this!" id="register" class="join-now"/>
			</div>
		</form>
	</div>
</template>